.Header-container { 
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: antiquewhite;
}

.logo { 
  width: 80px;
  background-color: antiquewhite;
}


.nav-container > ul { 
  display: flex;
  font-size: 18px;
  list-style-type: none;
}

.nav-container > ul > li{ 
  padding: 10px;
  margin: 3px;

}
.Search {
  padding: 10px; 
}

.Res-card{
  padding: 5px;
  border: 0.1px solid black;
  border-radius: 3%;
  width: 200px;
  background-color: #f0f0f0;
  margin: 55px;
}

.Res-card:hover{
  border: 18px;
  box-shadow: 5px 10px 30px #aa5252;
}

.res-logo { 
  width: 200px;
  height: 140px

}

.Res-container {
  display: flex;
  padding: 0px 30px;
  flex-wrap: wrap;
  margin: 5px;
  border: 3px;
}